@import "tailwindcss";
@plugin "daisyui";

:root {
  --main: #845efc;
  --primary-text: #121212;
  --secondary-text: #555555;
  --background: #f0f0f0;
  --card: #ffffff;
}

@theme light {
  --main: #845efc;
  --primary-text: #121212;
  --secondary-text: #555555;
  --background: #f0f0f0;
  --card: #ffffff;
}

@theme dark {
  --main: #845efc;
  --primary-text: #f0f0f0;
  --secondary-text: #aaaaaa;
  --background: #121212;
  --card: #1e1e1e;
}