@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
};

:root {
  --main: rgba(132, 94, 194, 1);
}

@theme light {
  --color-main: var(--main);
}

@theme dark {
  --color-main: var(--main);
}