@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-text: #303030;
  --secondary-text: #4b4453;
  --main: rgba(132, 94, 194, 1);
}

[data-theme = dark] {
  --background: #111111;
  --primary-text: #dddddd;
  --secondary-text: #bbbbbb;
}

@theme inline {
  --color-background: var(--background);
  --color-primary-text: var(--primary-test);
  --color-secondary-text: var(--secondary-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main: var(--main)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@plugin "daisyui"